html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Open Sans";
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0,0.6);
    display: none;
    overflow: hidden;
}

.busketRepr {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

.busketHeader{
    height: 70px;
    background: #404c58;
    color: #ffffff;
    border-radius: 5px;
    line-height: 60px;
    padding: 0px 20px;
}

.busketContent {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
}

.busketHeader p{
    margin: 0;
    font-size: 20pt;
    font-weight: bold;
}

.busketContent {
    font-size: 16pt;
    font-weight: bold;
}

#orderList {
    padding: 0;
    list-style-type: none;
    font-size: 12pt;
}

#orderList li {
    display: table;
    margin: 20px 0;
    width: 100%;
}

.orderItem{
    display: table-row;
    font-size: 10pt;
}

.orderItem img {
    max-height: 70px;
    max-width: 70px;
    display: table-cell;
}

.orderDescription {
    display: table-cell;
    padding: 0;
    height: 70px;
    vertical-align: top;
}

.orderDescription .removeItem {
    float: right;
}

.orderItem span:hover {
    cursor: pointer;
}

.orderItem span {
    padding: 5px;
}

.orderItem .addItem {
    border-right: 1px solid black;
}

.orderItem p {
    margin: 0;
}

.busketContent .additional {
    color: #b3b300;
}

#busketForm input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
}

#zurKasse {
    background: #ff0000;
    background: -webkit-linear-gradient(#e60000, #ff0000, #e60000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e60000, #ff0000, #e60000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e60000, #ff0000, #e60000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e60000, #ff0000, #e60000); /* Standard syntax */
    border-color: #e60000;
}

#warencorbBearbeiten {
    background: #d9d9d9;
    background: -webkit-linear-gradient(#a6a6a6, #d9d9d9, #a6a6a6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a6a6a6, #d9d9d9, #a6a6a6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a6a6a6, #d9d9d9, #a6a6a6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a6a6a6, #d9d9d9, #a6a6a6); /* Standard syntax */
    border-color: #a6a6a6;
}

.header {
    width: 100%;
}

.header > div {
    width: 70%;
    margin: auto;
}

.options {
    height: 20px;
    font-size: 10pt;
}

.options ul {
    list-style-type: none;
    float: right;
    margin: 0;
}

.options li {
    display: inline-block;
    margin: 5px 10px;
}

.options li:first-child:before {
    background-image: url("images/list.png");
    display: inline-block;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    content: "";
}

.options li:last-child:before {
    background-image: url("images/questionMark.png");
    display: inline-block;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    content: "";
}

.headerNav > * {
    display: inline-block;
}

.logo {
    padding: 5px;
    font-size: 30pt;
}

.logo span{
    font-weight: bold;
}

.navSearchForm {
    display: flex;
    padding: 5px;
    margin: 11px 240px;
}

.searchInput {
    background: #f8f8fa;
    height: 30px;
    width: 300px;
    border: 1px groove #dadae5;
    border-top-color: #cbcbdb;
    border-right: none;
    color: #8798a9;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

.submitSearchForm {
    background: #f8f8fa;
    border: 1px groove #dadae5;
    border-top-color: #cbcbdb;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    width: 40px;
    height: 34px;
}

.submitSearchForm span:before {
    background-image: url("images/search.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
}

.submitSearchForm:hover {
    cursor: pointer;
}

.navButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButtons li{
    display: inline-block;
}

.firstBtn span:before {
    background-image: url("images/heart.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
}

.secondBtn span:before {
    background-image: url("images/user.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    float: left;
}

.basketBtn {
    width: 90px;
    position: relative;
}

.basketBtn span:before {
    background-image: url("images/trolley.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    float: left;
}

.basketBtn span {
    vertical-align: -webkit-baseline-middle;
}

.secondBtn span{
    vertical-align: -webkit-baseline-middle;
}

#value {
    color: #ff0000;
    font-weight: bold;
}

#amount {
    width: 20px;
    height: 20px;
    background: #f25720;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    display: none;
}

.menu {
    width: 100%;
    margin: auto;
    padding: 0;
}

.menu > li {
    display: inline-block;
    color:  #b3b3b3;
    background-color: white;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18pt;
}

.menu > li:nth-child(n+2):hover{
    background-color: #404c58;
    color: #ffffff;
}

.menu > li.active {
    background-color: #f25720;
    color: #ffffff;
}

li.hover {
    background-color: #404c58;
    color: #ffffff;
}

.contentWrapper {
    border-top: 2px solid #f25720;
    background-color:  #b3b3b3;
    position: relative;
    min-height: 650px;
}

.content {
    width: 70%;
    margin: auto
}

.popover {
    background-color: #ffffff;
    position: absolute;
    top: -2px;
    display: none;
    border-radius: 5px;
}

.popover .popoverNav {
    background-color:  #404c58;
    height: 40px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 40px;
}

.popover .popoverNav span {
    padding: 20px;
    cursor: pointer;
}

.popover .category {
    display: table;
    width: 100%;
}

.popover .subcategories {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    padding-right: 30px;
}

.popover .subcategories ul {
    list-style-type: none;
    border-right: 2px solid #f2f2f2;
}

.popover .subcategories ul li {
    padding: 10px 10px;
}

.popover .subcategories ul li:hover{
    background-color: #d9400b;
}

.popover .representation {
    padding: 30px 10px;
    display: table-cell;
    width: 70%;
}

.popover .representation img {
    max-width:100%;
    max-height:100%;
}

.products {
    background: #ffffff;
    margin: 20px 0;
    font-size: 12pt;
    display: none;
}

.productsHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #b3b3b3;
    color:  #b3b3b3;
}

.products p {
    margin: 0;
}

.availableProducts {
    padding: 40px;
}

.inner {
    border: 1px solid #b3b3b3;
    padding: 10px
}

.inner > p {
    color: #111111;
    font-weight: bold;
}

.productsList {
    list-style-type: none;
}

.productsList li {
    display: inline-block;
    margin: 10px 20px;
}

.productsList div {
    border: 1px solid #b3b3b3;
    padding: 10px;
    text-align: center;
}

.productsList img {
    max-height: 200px;
    max-width: 200px;
}

.productsList p {
    font-size: 10pt;
}

.productsList span {
    font-weight: bold;
}