html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Open Sans";
}

.header {
    width: 100%;
}

.header > div {
    width: 70%;
    margin: auto;
}

.options {
    height: 20px;
    font-size: 10pt;
}

.options ul {
    list-style-type: none;
    float: right;
    margin: 0;
}

.options li {
    display: inline-block;
    margin: 5px 10px;
}

.options li:first-child:before {
    background-image: url("images/list.png");
    display: inline-block;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    content: "";
}

.options li:last-child:before {
    background-image: url("images/questionMark.png");
    display: inline-block;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    content: "";
}

.headerNav > * {
    display: inline-block;
}

.logo {
    padding: 5px;
    font-size: 30pt;
}

.logo span{
    font-weight: bold;
}

.navSearchForm {
    display: flex;
    padding: 5px;
    margin: 11px 240px;
}

.searchInput {
    background: #f8f8fa;
    height: 30px;
    width: 300px;
    border: 1px groove #dadae5;
    border-top-color: #cbcbdb;
    border-right: none;
    color: #8798a9;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

.submitSearchForm {
    background: #f8f8fa;
    border: 1px groove #dadae5;
    border-top-color: #cbcbdb;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    width: 40px;
    height: 34px;
}

.submitSearchForm span:before {
    background-image: url("images/search.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
}

.submitSearchForm:hover {
    cursor: pointer;
}

.navButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButtons li{
    display: inline-block;
}

.firstBtn span:before {
    background-image: url("images/heart.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
}

.secondBtn span:before {
    background-image: url("images/user.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    float: left;
}

.basketBtn {
    width: 90px;
}

.basketBtn span:before {
    background-image: url("images/trolley.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    float: left;
}

.basketBtn span {
    vertical-align: -webkit-baseline-middle;
}

.secondBtn span{
    vertical-align: -webkit-baseline-middle;
}

.menu {
    width: 100%;
    margin: auto;
    padding: 0;
}

.menu > li {
    display: inline-block;
    color:  #b3b3b3;
    background-color: white;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18pt;
}

.menu > li:nth-child(n+2):hover{
    background-color: #404c58;
    color: #ffffff;
}

.menu > li.active {
    background-color: #f25720;
    color: #ffffff;
}

li.hover {
    background-color: #404c58;
    color: #ffffff;
}

.contentWrapper {
    border-top: 2px solid #f25720;
    background-color:  #b3b3b3;
    position: relative;
    min-height: 650px;
}

.content {
    width: 70%;
    margin: auto
}

.popover {
    background-color: #ffffff;
    position: absolute;
    top: -2px;
    display: none;
    border-radius: 5px;
}

.popover .popoverNav {
    background-color:  #404c58;
    height: 40px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 40px;
}

.popover .popoverNav span {
    padding: 20px;
    cursor: pointer;
}

.popover .category {
    display: table;
    width: 100%;
}

.popover .subcategories {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    padding-right: 30px;
}

.popover .subcategories ul {
    list-style-type: none;
    border-right: 2px solid #f2f2f2;
}

.popover .subcategories ul li {
    padding: 10px 10px;
}

.popover .subcategories ul li:hover{
    background-color: #d9400b;
}

.popover .representation {
    padding: 30px 10px;
    display: table-cell;
    width: 70%;
}

.popover .representation img {
    max-width:100%;
    max-height:100%;
}

.products {
    background: #ffffff;
    margin: 20px 0;
    font-size: 12pt;
    display: none;
}

.productsHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #b3b3b3;
    color:  #b3b3b3;
}

.products p {
    margin: 0;
}

.availableProducts {
    padding: 40px;
}

.inner {
    border: 1px solid #b3b3b3;
    padding: 10px
}

.inner > p {
    color: #111111;
    font-weight: bold;
}

.productsList {
    list-style-type: none;
}

.productsList li {
    display: inline-block;
    margin: 10px 20px;
}

.productsList div {
    border: 1px solid #b3b3b3;
    padding: 10px;
    text-align: center;
}

.productsList img {
    max-height: 200px;
    max-width: 200px;
}

.productsList p {
    font-size: 10pt;
}

.productsList span {
    font-weight: bold;
}